body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    width: 90vw;
    justify-content: center;
}

input[type="text"]{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0.5vw;
    flex-grow: 1;
    margin-top: 1vw;
    width: 90vw;
}

input[type="button"]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding: 0.5vw;
    border-radius: 1vw;
    flex-grow: 1;
    margin-bottom: 1vw;
}

.add-button{
    background-color: rgb(188, 255, 150);
}

.remove-button{
    background-color: rgb(255, 157, 150);
}

input[type="button"]:active{
    filter: invert(10%);
}

/* List */
ul{

}

.item-index{
    
}

.item-value{
    
}
